<div class="panel small-12 medium-10 large-7 small-centered large-centered columns">
  <table>
      <h1>
        Games:
      </h1>
      <td>
        Player 1
      </td>
      <td>
        Player 2
      </td>
    <% @games.each do |game| %>
      <tr id="<%= game.id %>">
        <td class="p1">
          <% if game.winner.id == game.player_1_id %>
          <%= link_to "#{User.find(game.player_1_id).username} (W)", user_path(game.player_1) %>
          <% else %>
          <%= link_to "#{User.find(game.player_1_id).username} (L)", user_path(game.player_1) %>
          <% end %>
        </td>
        <td class="p2">
          <% if game.winner.id == game.player_2_id %>
          <%= link_to "#{User.find(game.player_2_id).username} (W)", user_path(game.player_2) %>
          <% else %>
          <%= link_to "#{User.find(game.player_2_id).username} (L)", user_path(game.player_2) %>
          <% end %>
        </td>
        <td>
          <%= link_to "Details", game_path(game) %>
        </td>
      </tr>
    <% end %>
  </table>
</div>
