<div class="row">
  <div class="section-box text-center panel large-6 medium-8 small-12
  large-centered medium-centered small-centered columns">
  <%= @game.players %>
  <% if @game.player_2 == current_user && @game.p2_confirmation == false %>
    <%= button_to "Approve this!", game_approve_path(@game), class: "button"%>
  <% end %>
  </div>
  <table class="panel small-9 small-centered large-centered columns">
    <tr>
      <td>
        Players:
      </td>
      <td>
        <%= @game.player_1.crew_tag %><%= @game.player_1.username %>
      </td>
      <td>
        <%= @game.player_2.crew_tag %><%= @game.player_2.username %>
      </td>
    </tr>
    <tr>
      <td>
        Characters:
      </td>
      <td>
        <%= @game.player_1_character.name %>
      </td>
      <td>
        <%= @game.player_2_character.name %>
      </td>
    </tr>
    <tr>
      <td>
        Stock Remaining:
      </td>
      <td>
        <% @game.player_1_stock.times do %>
          <%= image_tag @game.player_1_character.icon %>
        <% end %>
      </td>
      <td>
        <% @game.player_2_stock.times do %>
          <%= image_tag @game.player_2_character.icon %>
        <% end %>
      </td>
    </tr>
    <tr>
      <td>
        Stage:
      </td>
      <td>
        <%= @game.stage.name %>
      </td>
      <td>
        <%= image_tag @game.stage.icon %>
      </td>
    </tr>
  </table>
</div>
