
<div class="section-box text-center panel large-7 medium-10 small-12
large-centered medium-centered small-centered columns">
  <%= image_tag @game.player_1.avatar, class: "thumbnail" %>
  <%= @game.players %>
  <%= image_tag @game.player_2.avatar, class: "thumbnail" %>
  <% if @game.player_2 == current_user && @game.p2_confirmation == false %>
    <%= button_to "Approve this!", game_approve_path(@game), class: "button small"%>
  <% end %>
  <% if @game.player_1 == current_user && @game.p2_confirmation == false || @game.player_2 == current_user && @game.p2_confirmation == false %>
    <%= button_to "Delete this?", @game, method: :delete, class: "button tiny alert" %>
  <% end %>
  </div>
  <table class="panel small-12 medium-10 large-7 small-centered large-centered columns">
    <tr>
      <td>
        Players:
      </td>
      <td>
        <%= @game.player_1.crew_tag %> <%= link_to @game.player_1.username, user_path(@game.player_1) %>
      </td>
      <td>
        <%= @game.player_2.crew_tag %> <%= link_to @game.player_2.username, user_path(@game.player_2) %>
      </td>
    </tr>
    <tr>
      <td>
        Characters:
      </td>
      <td>
        <%= @game.player_1_character.name %>
      </td>
      <td>
        <%= @game.player_2_character.name %>
      </td>
    </tr>
    <tr>
      <td>
        Stock Remaining:
      </td>
      <td>
        <% @game.player_1_stock.times do %>
          <%= image_tag @game.player_1_character.icon %>
        <% end %>
      </td>
      <td>
        <% @game.player_2_stock.times do %>
          <%= image_tag @game.player_2_character.icon %>
        <% end %>
      </td>
    </tr>
    <tr>
      <td>
        Stage:
      </td>
      <td>
        <%= @game.stage.name %>
      </td>
      <td>
        <%= image_tag @game.stage.icon %>
      </td>
    </tr>
  </table>
<% unless @game.description == "" %>
  <div class="panel small-12 medium-10 large-7 small-centered large-centered columns">
      Description:
      <%= @game.description %>
  </div>
<% end %>
